
server:
  port: 8087
  servlet:
    context-path: /
spring:
  application:
    name: apigateway
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/user-service/**
        - id: person-service
          uri: lb://PERSON-SERVICE
          predicates:
            - Path=/person-service/**
        - id: address-service
          uri: lb://ADDRESS-SERVICE
          predicates:
            - Path=/address-service/**
        - id: contact-service
          uri: lb://CONTACT-SERVICE
          predicates:
            - Path=/contact-service/**
        - id: web-app
          uri: lb://WEB-APP
          predicates:
            - Path=/web-app/**
      server:
        webflux:
          httpclient:
            wiretap: true
          discovery:
            locator:
              enabled: true
logging:
  level:
    org.springframework.cloud.gateway: DEBUG
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8081/eureka}
    register-with-eureka: true
    fetch-registry: true
  instance:
    preferIpAddress: true
  server:
    enable-self-preservation: false